<!DOCTYPE html>
<html lang="en">
  <%- include("../header"); -%>
  <!-- 불러오기 -->
  <body>
    <%- include("../menu"); -%>

    <form id="createForm">
      <div class="md-form">
        <input type="text" id="director" class="form-control" required />
        <label for="director">Director</label>
      </div>
      <div class="md-form">
        <input type="text" id="title" class="form-control" required />
        <label for="title">Title</label>
      </div>
      <div class="md-form">
        <input type="text" id="year" class="form-control" required />
        <label for="year">Year</label>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <%- include("../footer.ejs"); -%>
    <script>
      $(function () {
        $("#createForm").submit((event) => {
          event.preventDefault();
          const director = $("#director").val();
          const title = $("#title").val();
          const year = $("#year").val();

          console.log(director, title, year);

          $.ajax({
            url: "/api/movie",
            type: "POST",
            data: { director, title, year },
          })
            .done(() => {
              location.href = "/api/movie";
            })
            .fail((request, status, error) => {
              alert(request.responseText);
            });
        });
      });
    </script>
  </body>
</html>
